body
  font-size: 16px
  margin: 0
a
  text-decoration: none
  color: #fff
  &:hover
    text-decoration: underline
ul
  list-style: none
  padding: 0
#slide
  font-size: 13px
  padding: 10px 20px
  background-color: #333
  width: 200px
  height: 100%
  display: none
  position: absolute
  top: 0
  left: 0
  li
    padding: 12px 0
    border-bottom: 1px solid #666

#main
  margin: 20px

.switch
  margin: 20px 20px 0 0
  overflow: hidden
    
.btn
  float: right
  cursor: pointer
  margin-left: 10px
  font-size: 12px
  line-height: 12px
  text-align: center
  width: 50px
  display: block
  padding: 10px 20px
  background-color: #000
  color: #fff
