extend ./layout/layout.jade

block  mainVars
  - author = 'author'
  - description = 'description'
  - keywords = 'keywords'
  - page_class = 'top'
  - slideNav = ['HOME', 'About', 'Services', 'Works', 'Blog', 'Contact']
block content
  .btn.open open
  #main
    - var i = 0
    while i < 30
      p Amet officiis quibusdam ut nemo eveniet? Officia quo sapiente perspiciatis placeat vel. Tempore aspernatur officiis similique animi libero excepturi! Eum itaque nihil distinctio quaerat error quaerat molestiae vitae repellendus nisi!
      - i++

  #slide
    ul
      each l in slideNav
        li
          a(href="#")= l

